@charset "utf-8";
/* CSS Document */
body{
	background-color:#F5F5DC;
	}
.tit {
	position:absolute;
	width:768px;
	height:100px;
	background:url(../pic/Title.png);
	background-size:768px 100px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.lfb {
	padding-top: 100px;
	position: absolute;
	width: 200px;
	height: 600px;
	}
.mfb {
	padding-top: 100px;
	padding-left: 200px;
	position: absolute;
	width: 600px;
	height: 462px;
	}
.rtb{
	padding-top: 700px;
	padding-left: 0px;
	position: absolute;
	width: 768px;
	height: 462px;
	}
