@charset "utf-8";
/* CSS Document */
body{
	background-color:#F5F5DC;
	}
.tit {
	position:absolute;
	width:650px;
	height:200px;
	background:url(../pic/Title.png);
	background-size:600px 130px;
	background-position:center center;
	background-repeat:no-repeat;
	}
.lfb {
	padding-top: 100px;
	position: absolute;
	width: 200px;
	height: 650px;
	}
.mfb {
	padding-top: 100px;
	padding-left: 200px;
	position: absolute;
	width: 600px;
	height: 650px;
	}
.rtb{
	padding-top: 750px;
	padding-left: 0px;
	position: absolute;
	width: 800px;
	height: 568px;
	}
